@import 'variaveis.scss';

* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.navbar {
    transform: translate(0, -707px);
    width: 100%;
    height: 15vh;
    background-color: #545454;
    display: flex;

    .logo {
        width: 15%;
        background-color: transparent;
        transform: translate(0, -10px);

        .imagem-logo {
            width: 100%;
            transform: translate(0, -65px);
        }

        button {
            height: 10vh;
            background-color: transparent;
            border-color: transparent;
        }
    }

    nav {
        width: 55%;
        transform: translate(120px, -20px);
        padding-top: 3vh;
        height: 10vh;
        background-color: $colorteste;

        a.link {
            font-size: 20px;
            padding-left: 40px;
            transform: translate(0, 20px);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: white;
        }

        .link:hover {
            text-decoration: underline;
            transition: .3s;
        }

        .seletor {
            width: 16%;
            height: 4vh;
            border-radius: 7px;
            border-style: solid;
            transform: translate(40px);
        }

        .seletor:hover {
            background-color: #545454;
            color: white;
            border-color: white;
        }

        .button-location{
            width: 17.5%;
            background-color: transparent;
            transform: translate(630px, -30px);
        }
    }

    .conteudo {
        width: 100%;
        height: 100vh;
        background-color: #a8a39d;
    }

    .local{
        width: 15%;
        height: 10vh;
        background-color: $colorteste;
        transform: translate(-70px, -13px);

        img{
            width: 25%;
            transform: translate(0, 10px);
        }

        h3{
            transform: translate(60px, -30px);
            color: white;
        }
    }
}

form {
    width: 100%;
    height: 100vh;
    background-color: #a8a39d;

    %label{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }
    %input:hover{
        transition: .4s;
        background-color: rgb(237, 235, 233);
    }

    .c1 {
        width: 40%;
        height: 9vh;
        background-color: transparent;
        transform: translate(0, 170px);
        margin-left: 5%;

        label[for="nome_fantasia"] {
            @extend %label;
        }

        select[name="id_cliente"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }

        select[name="id_cliente"]:hover{
            @extend %input;
        }
    }

    .c2 {
        width: 44%;
        height: 9vh;
        background-color: transparent;
        transform: translate(700px, 105px);
        margin-left: 5%;

        label[for="pedido"] {
            @extend %label;
        }

        input[name="pedido"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="pedido"]:hover{
            @extend %input;
        }
    }

    .c3 {
        width: 40%;
        height: 9vh;
        background-color: transparent;
        transform: translate(0, 180px);
        margin-left: 5%;

        label[for="valor"] {
            @extend %label;
        }

        input[name="valor"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="valor"]:hover{
            @extend %input;
        }
    }

    .c4 {
        width: 44%;
        height: 9vh;
        background-color: transparent;
        transform: translate(700px, 115px);
        margin-left: 5%;

        label[for="forma_pagamento"] {
            @extend %label;
        }

        select[name="forma_pagamento"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="forma_pagamento"]:hover{
            @extend %input;
        }
    }

    .c5 {
        width: 40%;
        height: 25vh;
        background-color: transparent;
        margin: -1.5% 5%;
        transform: translate(0, 200px);

        label[for="descricao"] {
            @extend %label;
        }

        input[name="descricao"] {
            width: 100%;
            height: 21vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        textarea[name="descricao"]:hover{
            @extend %input;
        }
    }

    .c6 {
        width: 20%;
        height: 9vh;
        background-color: transparent;
        transform: translate(780px, 100px);

        label[for="status_venda"] {
            @extend %label;
        }

        select[name="status_venda"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="status_venda"]:hover{
            @extend %input;
        }
    }

    .c7 {
        width: 20%;
        height: 9vh;
        background-color: transparent;
        transform: translate(1150px, 35px);

        label[for="status_orcamento"] {
            @extend %label;
        }

        select[name="status_orcamento"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="status_orcamento"]:hover{
            @extend %input;
        }
    }

        input[type="submit"]{
            width: 10%;
            height: 5vh;
            margin-left: 85%;
            transform: translate(0, 140px);
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
    
            font-size: 20px;
        }
        input[type="submit"]:hover{
            transition: .1s;
            background-color: #545454;
            color: white;
            border-color: gray;
        }
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(500px, 150px);
}

@media screen and (max-width: 1440px) {
    .navbar{
        transform: translate(0, -757.5px);
        .logo{
            background-color: transparent;
            .imagem-logo {
                transform: translate(0, -55px);
            }
        }
        nav{
            background-color: transparent;
            transform: translate(75px, -10px);
        }
        .local{
            background-color: transparent;
            transform: translate(-70px, -3.5px);
        }
    }
    form {
    
        .c2 {
            transform: translate(650px, 105px);
        }
    
        .c3 {
            transform: translate(0, 150px);
        }
    
        .c4 {
            transform: translate(650px, 80px);
        }
    
        .c5 {
            transform: translate(0, 170px);
        }
    
        .c6 {
            transform: translate(730px, 60px);
        }
    
        .c7 {
            width: 20%;
            transform: translate(1060px, -10px);
        }

        .i-sub{
            background-color: $corTeste;
            transform: translate(1185px, -360px);
        }
    }
}

@media screen and (max-width: 1370px){
    .navbar {
        transform: translate(0, -643px);
    
        .logo{
            background-color: transparent;
            .imagem-logo {
                transform: translate(0, -55px);
            }
        }
        nav{
            background-color: transparent;
            transform: translate(65px, -10px);
        }
        .local{
            background-color: transparent;
            transform: translate(-70px, -5px);
        }
    }
    form{
        .c1 {
            width: 40%;
            transform: translate(0, 160px);
        }

        .c2 {
            transform: translate(625px, 105px);
        }
    
        .c4 {
            transform: translate(625px, 90px);
        }
    
        .c6 {
            transform: translate(700px, 80px);
        }
    
        .c7 {
            width: 20%;
            transform: translate(1015px, 20px);
        }

        input[type="submit"]{
            transform: translate(0, 140px);
        }
    }
}